body {
    padding: 30px;
}


.main {
    padding: 30px;
    /* width: 900px;
    height: 580px; */
    background-color: rgb(248, 247, 245);
}

.text {
    /* display: inline-block; */
    font-size: 20px;
    margin-bottom: 10px;
    /* запрещает перенос слов */
    white-space: nowrap;
}

.table {
    display: inline-block;
}

.answer-table {
    margin-top: 10px;
}

.left-table {
    margin-left: 50px;
}

.title {
    font-weight: bold;
    margin: 0 40%;
}

.cell {
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgb(82, 79, 79);
    width: 60px;
    height: 20px;
}

table {
    display: inline-block;
    border-left: 3px solid black;
    border-right: 3px solid black;
}



.select:hover {
    border: 1px solid rgb(112, 98, 98);
    
}

.sizes:hover {
    border: 1px solid rgb(112, 98, 98);
}

.cell:focus {
    box-shadow: 1px 1px 5px 5px rgb(151, 148, 148);
}

select {
    border: 1px solid rgb(184, 174, 174);
}

/* .answer-btn {
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 20px;
    margin: 40px 50%;
} */

.button-block {
    text-align: center;
    width: 100px;
    height: 20px;
    margin: 40px 40%;
}

.answer-btn {
    border: 1px solid rgb(139, 137, 137);
    width: 20px;
    border-radius: 2px;
}

.answer-btn:hover {
    background-color: #e7dddd;
}

.answer-btn:active {
    background-color: #ad9a9a;
}